<html>

<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- For DataTables -->
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div class="limiter">
		<center>
			<h1>Bug Tracker Application</h1>
		</center>
		<hr />
	</div>	

			<div class="container">
				<div class="row">
					<div class=" offset-md-4 col-sm-4 curve">
						<form class="validate-form"  id="data-form" action="" method="POST">
							<span class="login100-form-title p-b-26">
								Input Bug
							</span>
							<div class="wrap-input100 validate-input">
								<input class="input100" type="text" name="name">
								<span class="focus-input100" data-placeholder="name"></span>
							</div>
	
							<div class="wrap-input100 validate-input">
								<input class="input100" type="text" name="details">
								<span class="focus-input100" data-placeholder="Error Detail"></span>
							</div>

							<div class="container-login100-form-btn">
								<div class="wrap-login100-form-btn">
									<div class="login100-form-bgbtn"></div>
									<button class="login100-form-btn" id="data-form" type="submit">
										Add Bug
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
		</div> 

		<hr>

<hr>



		
<div class="container">
	<div class="row">
		<div class="offset-md-3 col-sm-8">
			<h1>jQuery Filtable - basic example</h1>
			<p>Simple table for testing.</p>
			<div class="table-filters">
				<label for="filter-country">Name:</label>
				<input type="text" class="input-text" id="filter-name" data-filter-col="0,1">
			</div>

			<table id="data">
				<thead>
					<tr>
						<th>Asignee</th>
						<th>Details</th>
						<th>Submitted Time</th>
						<th>Deadline Time</th>
					</tr>
				</thead>
				<tbody>
					<% data.forEach(output=> { %>
						<% if(Date() > output.ExpireTime){ %> 
					<tr>
						<td style="color:red"><%= output.name %></td>
						<td style="color:red"><%= output.details %></td>
						<td style="color:red"><%= output.DateCurrent.slice(0,25).replace(/-/g,'/') %></td>
						<td style="color:red"><%= output.ExpireTime.slice(0,25).replace(/-/g,'/') %></td>
						</tr>
						<% }
						else{ %>  
							<tr>
								<td><%= output.name %></td>
								<td style="color:green" ><%= output.details %></td>
								<td><%= output.DateCurrent.slice(0,25).replace(/-/g,'/') %></td>
								<td><%= output.ExpireTime.slice(0,25).replace(/-/g,'/') %></td>
							</tr>
						 <% } %>
					<% }); %>
				</tbody>
				</table>

		</div>
	</div>
</div>



<script>
	$(document).ready(function(){
	   setInterval(function(){ reload_page(); },60*120);
	});
   
	function reload_page()
	{
	   window.location.reload(true);
	}
   </script>


      <!--===============================================================================================-->
      <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/animsition/js/animsition.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/bootstrap/js/popper.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/select2/select2.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/daterangepicker/moment.min.js"></script>
      <script src="vendor/daterangepicker/daterangepicker.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/countdowntime/countdowntime.js"></script>
      <!--===============================================================================================-->
	  <script type="text/javascript" src="../js/action.js"></script>
	  <script type="text/javascript" src="../js/main.js"></script>
	  <script type="text/javascript" src="../js/filtable.js"></script>
</body>

</html>